body, svg, #graphContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
}
.label {
    position: absolute;
    top: 10px;
    color: white;
    font-size: 18px;
    left: 10px;
    font-family: Verdana;
}